:root {
    --primary:rgb(30, 30, 130);
    --primary-dark: rgb(30, 30, 110);
    --secondary:hsl(25, 99%, 63%);
    --secondary-dark: hsl(25, 99%, 60%);
    --white:#f5f9fa;
    --white2: #ebf3f5;
    --gray:#999fa0;
    --gray2:#c0c6c9;
    --gray3:#4b4c4d;
    --black:#323333;
    --black2:#2a2b2b;
}
